.header_option {
  color: white;
  font-family: 'Poppins';
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
  transition: 0.2s ease-in-out;
}

.header_option:hover {
  color: teal;
}

.button {
  color: white;
  background-color: teal;
  padding: 1em;
  text-decoration: none;
  font-family: "Poppins";
  border-radius: 4em;
  padding-left: 2em;
  padding-right: 2em;
  transition: 0.2s ease-in-out;
}

.button:hover {
  color: teal;
  background-color: #333;
  outline: invert;
}