@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap'); 
body{
  
   
    background-color:#292929;margin: 2em;
 
    
}

h1{
font-family: Poppins;
font-size: 300px;
padding-top: 500px;
padding-left: 150px;
    
color: #fff ;
}
h3{
    font-size:130px ; 
    padding-left: 150px;
    color: #fff;
    font-weight: lighter;
    font-family: Poppins;

}
button {
    /* display: flex; */
    /* width: 200px;
    height: 63px; */
    background: #4E9CAF;
    /* padding: 150px; */
    /* text-align: center; */
    border-radius: 1000px;
    color: white;
    font-weight: bold;
    /* line-height: 25px; */
    padding: 63px 200px;
    font-size: 80px;
    /* overflow: hidden; */
    padding-left: 150px;
}
span{
    font-family: Poppins;
    
}
button {
    font-size:80px ;
    font-family: Poppins;
    color: #fff;
    /* padding-left: 150px; */
    transition: ease-in-out 0.2s;
}
button:hover{
background-color: #292929;
border: 4px solid  #4E9CAF;
cursor: pointer;
/* transition: ease-in-out 0.2s; */
padding:70px 210px;
}
.navbar{
    color: #fff;
    font-size: 100px;
    word-spacing: 5ch;
    /* padding-top:50px; */
    /* padding-left:2800px ; */
    float:right ;

}
.navbar a{
    color: #fff;
    font-family:Poppins ;
    font-weight: normal;
}
.navbar a:hover{
    color:#4E9CAF;
    /* font-size:120px ; */
    cursor: pointer;
    transition: ease-in-out 0.5s;
}