@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap'); 
body{
  
   
    background-color:#292929;margin: 2em;
 
    
}

h1{
font-family: Poppins;
font-size: 58px;
padding-top: 200px;
padding-left: 90px;
    
color: #fff ;
}
h3{
    font-size:28px ; 
    padding-left: 90px;
    color: #fff;
    font-weight: lighter;
    font-family: Poppins;

}
button {
    /* display: flex; */
     /* width: 13px;
    height: 20px;  */
    background: #4E9CAF;
    /* padding: 150px; */
    /* text-align: center; */
    border-radius: 32px;
    color: white;
    font-weight: bold;
    /* line-height: 25px; */
    padding: 10px 25px;
    font-size: 18px;
    /* overflow: hidden; */
    /* padding-left: 150px; */
    left:150px;
    
}
span{
    font-family: Poppins;
    font-size: 18px;
    
}
button {
    /* font-size:80px ; */
    font-family: Poppins;
    color: #fff;
    /* padding-left: 150px; */
    transition: ease-in-out 0.2s;
}
button:hover{
background-color: #292929;
border: 4px solid  #4E9CAF;
cursor: pointer;
/* transition: ease-in-out 0.2s; */
padding:12px 30px;
}
.navbar{
    color: #fff;
    font-size: 24px;
    word-spacing: 5ch;
    padding-top:50px;
    /* padding-left:2800px ; */
    float:right ;

}
.navbar a{
    color: #fff;
    font-family:Poppins ;
    font-weight: normal;
    transition: ease-in-out 0.5s;
}
.navbar a:hover{
    color:#4E9CAF;
    /* font-size:120px ; */
    cursor: pointer;
    /* transition: ease-in-out 0.5s; */
}
.img{
    padding-top:20px;

}